body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.1);
}  

.timer {
  width: 75vw;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.separator {
  width: 1vw;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
      
.dot {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #000;
  margin: 2.5vw;
}
  
.days, .hours, .minutes, .seconds {
  font-size: 24vh;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 900;
  text-shadow: 0px 48px 96px rgba(0,0,0,0.3);
}
  
.label {
  font-size: 3vh;
  font-weight: 300;
}